mixin first-screen-block()
  .container&attributes(attributes)
    +content-block()
      h2 Сборка первого экрана тз
      p Для анимации используйте неколько разных css свойств и небольшие задержки
      p
        | Для построчной или посимвольной анимации текста используйте
        |
        a(href="https://splitting.js.org" target="_blank", rel="nofollow noopener noreferrer") splitting.js
        |
        | (пример: интро этого сайта)
