mixin intro()
  -
    const introCards = [
      {
        href: "#menu",
        text: "Меню"
      },
      {
        href: "#loader",
        text: "Лоадер"
      },
      {
        href: "#first-screen",
        text: "Сборка <br> первого экрана"
      },
      {
        href: "#show-on-scroll",
        text: "Появление блоков"
      },
      {
        href: "#parallax",
        text: "Параллакс"
      },
      {
        href: "#scroll-slider",
        text: "Слайдер <br> по скроллу"
      }
    ]

  section.intro(data-animate="intro" data-section-animation data-start="top top" data-end="bottom top")&attributes(attributes)
    .intro__sticky
      .container(data-animation="scale: 0.75, opacity: 0.5, rotateX: 5deg, y: -10vh" data-animation-direction="to")
        .intro__heading
          +title({tag: "h1", text: "Задачки <br> на прокачку"})(data-splitting).title--h1.intro__title
          p.intro__description(data-splitting) Задачи на&nbsp;интерфейсную логику, #[br] которые часто встречаются #[br] на&nbsp;реальных проектах
        .intro__cards
          each link in introCards
            +card(link)(data-move-to=link.href, data-card="intro").intro__card
      .intro__background
        video(src="./video/background-wave.mp4", alt="waaaavee", autoplay="true", muted="true", loop, playsinline)
