mixin loader-block()
  .container&attributes(attributes)
    +content-block()
      h2 Лоадер тз
      p Анимация лоадера произвольная, можно использовать css keyframes или gsap
      p После загрузки страницы мы всегда находимся вверху страницы (не должно быть видно скачка)
      p Скролл страницы заблокирован во время загрузки
