mixin parallax-block()
  -
    const animationCards = [
      {
        title: 'fade-scale',
        animate: 'fadeScale'
      },
      {
        title: 'fade-scale',
        animate: 'fadeScale'
      },
      {
        title: 'transform y',
        animate: 'transformY'
      },
      {
        title: 'transform y',
        animate: 'transformY'
      }
    ]

  .container&attributes(attributes)
    +content-block()
      h2 Параллакс по скроллу
      p Эффекты, которые постоянно срабатывают по скроллу #[br] Скроллим скроллим и вжух вжух вжух!
      .section__cards
        each card in animationCards
          div(data-parallax=card.animate)
            .card.card--dark.card--centered(data-animate-item)
              +title({tag: "p", text: card.title}).title--h3
