mixin logo(currentUrl)
  .logo&attributes(attributes)
    if(currentUrl === "index.html")
      span
        +icon("logo", 362, 67)
    else
      +link({href: "index.html"})(aria-label="Переход на главную.")
        +icon("logo", 362, 67)
