mixin navigation(navigationLinks, currentUrl)
  nav.navigation&attributes(attributes)
    .container
      .navigation__wrapper
        ul.navigation__list
          each link in navigationLinks
            - const activeState = currentUrl === link.href
            li.navigation__item
              if(activeState)
                span(data-menu="link").link.link--big.link--white.navigation__link.is-active=link.text
              else
                +link({href: link.href})(data-menu="link").link--big.link--white.navigation__link
                  span=link.text
