mixin header(headerMods, currentUrl)
  -
    const navigationLinks = [
      {
        href: "index.html",
        text: "Анимации"
      },
      {
        href: "map-1.html",
        text: "Карта 1"
      },
      {
        href: "map-2.html",
        text: "Карта 2"
      },
      {
        href: "map-3.html",
        text: "Карта 3"
      },
      {
        href: "map-4.html",
        text: "Карта 4"
      }
    ]

  header.header(class=headerMods)
    .container
      +logo(currentUrl).header__logo
      +button()(aria-label="Переключатель отображения меню.", aria-pressed="false").header__toggle
    +navigation(navigationLinks, currentUrl).header__navigation
